@font-face {
    font-family: "Merriweather";
    src: url("/css/fonts/Merriweather-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: bold;
    src: url("/css/fonts/Merriweather-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: bold;
    font-style: italic;
    src: url("/css/fonts/Merriweather-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-style: italic;
    src: url("/css/fonts/Merriweather-Italic.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: lighter;
    font-style: italic;
    src: url("/css/fonts/Merriweather-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: "Merriweather";
    font-weight: lighter;
    src: url("/css/fonts/Merriweather-Light.otf") format("opentype");
}

html{
    margin: 1rem 2rem;
    font-size: 106.25%;
    --body-vertical-margin: 1rem;
    --body-horizontal-margin: 1rem;
    --content-box-padding: 0.5rem;
    --font-main: Georgia, sans-serif;
    --font-mono: 'Ubuntu Mono','Fira Code','Deja Vu Sans Mono','Bitstream Vera Sans Mono','Source Code Pro','Courier New',monospace;
    --font-quote: "Fresco", Georgia, serif;
    --font-sans: Avenir Next, Avenir, system-ui, sans-serif;
    --font-header: 'Merriweather','Linux Libertine','Georgia','Times',serif;
    --figure-offset: 0;
    --figcaption-padding: 0;
    --aside-width: 12.5rem;
    --column-gap: 2rem;
    --padding: 1rem;
}

body {
    font-family: var(--font-main);
    max-width: 70rem;
    min-width: 30rem;
    line-height: 1.4rem;
    margin: 0 auto;
}

p {
    word-wrap: break-word;
}
body > header{
    margin-bottom: 4em;
}

body > header nav {
    float:right;
}

body > header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 0.5rem;
}

main {
    font-size: 1.1rem;
    font-family: var(--font-sans);
}

div.index h1 {
    font-family: "Merriweather", "Linux Libertine", "Georgia", "Times", serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bolder;
}

div.index h2 {
    font-family: "Merriweather", "Linux Libertine", "Georgia", "Times", serif;
    font-size: 1.5rem;
    line-height: 2rem;
}

nav#table-of-contents {
    background: #f2f2f2;
    padding: 0.2rem 1rem;
    font-size: 90%;
}

nav#table-of-contents h2 {
    font-family: var(--font-sans);
    font-weight: bold;
    font-style: italic;
}

nav#table-of-contents li {
    list-style-type: square;
}

nav#table-of-contents li a {
    color: black;
}
nav#table-of-contents li a:hover {
    color: #33f;
    background-color: inherit;
}

code {
    background-color: #f3f4f4;
    font-family: var(--font-mono);
    padding: 0.1rem 0.3rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

blockquote code {
    background-color: #999;
    border-color: #666;
    color: white;
}

pre {
    background-color: #f3f4f4;
    font-family: var(--font-mono);
    white-space: pre-wrap;
    overflow: auto;
    overflow-x: auto;
    margin: 1.25rem calc(-1 * var(--content-box-padding));
    padding: var(--content-box-padding);
    border: 1px solid #999;
}

pre.src {
  position: relative;
}

pre.src:before {
  /*display: none;*/
  position: absolute;
  background-color: #999;
  color: #f3f4f4;
  top: 0;
  right: 0;
  padding: 0.2rem 0.5rem;
}

aside {
    --aside-offset: 1rem;
    --aside-offset-lineheight: 1.5rem;
    background-color: #f8f8f8;
    padding: calc(var(--content-box-padding) * 0.5) calc(var(--content-box-padding) * 2);
    float: right;
    width: var(--aside-width);
    font-size: 0.9rem;
    line-height: 1.25rem;
    border: 1px solid #ccc;
}

a { text-decoration: none; color: #339; }
a:hover { color: #33f; background-color: #f6f6f6; }

blockquote {
    font-family: var(--font-quote);
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    font-style: italic;
    background-color: #e0e0e0;
    border-radius: 0.5em;
    width: 90%;
    margin: 1em auto;
    padding: 0.2rem 1.2rem;
}

h1, h2, h3, h4 {
    font-family: var(--font-header);
}
main header h1 {
    font-size: 300%;
    line-height: 3.8rem;
}

figure figcaption {
    text-align: center;
    color: #666;
    font-style: italic;
    margin: 0 2rem;
}

footer {
    text-align: center;
    color: #999;
}

footer a {
    color: #666;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


section img.shadow {
    box-shadow: 0 28px 50px rgba(0,0,0,0.16);
}

table {
    margin:1em auto;
    border-top:2px solid;
    border-collapse:collapse
}
table,thead {
    border-bottom:2px solid
}
table td+td,table th+th {
    border-left:1px solid gray
}
table tr {
    border-top:1px solid #d3d3d3
}
td,th {
    padding:.3em .6em;
    vertical-align:middle
}

.title  { text-align: center;
           margin-bottom: 1.5rem; }
.subtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top:0;
    color: #999;
}

div.drawer:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6.4rem;
    width: 1px;
    background-color: #555;
}

div.drawer {
    display: flex;
    padding: 0;
    margin: 1rem;
    margin-left: -7rem;
    position: relative;
    color: #555;
}

div.drawer h6 {
    box-sizing: border-box;
    font-style: italic;
    flex: 0 0 7rem;
    margin:0;
    padding:0;
    align-self: center;
    text-align: right;
    padding-right: 1.2rem;
}

div.drawer.info:before {
    background-color: #00529B;
}
div.drawer.info {
    color: #00529B;
}

div.drawer.note:before {
    background-color: #9F6000;
}
div.drawer.note {
    color: #9F6000;
}
div.drawer.tip:before {
    background-color: #4F8A10;
}
div.drawer.tip {
    color: #4F8A10;
}
div.drawer.warning:before {
    background-color: #D8000C;
}
div.drawer.warning {
    color: #D8000C;
}
div.drawer.results:before {
    background-color: black;
}
div.drawer.results {
    font-family:monospace,monospace;
    font-family: var(--font-mono);
    color: black;
    width: 100% !important;
}
div.drawer.results p {
    display: block;
    unicode-bidi: embed;
    white-space: pre;
    margin-top: 0;
}
div.drawer.results pre {
    background-color: inherit;
    border: 0;
}
div.drawer.results pre.src:before {
  background-color: #eee;
  color: #555;
}

.tag {
    font-family:var(--font-mono);
    font-size: 1rem;
}
.tag span {
    padding:.3em;
    float:right;
    margin-right:.5em;
    border:1px solid #bbb;
    border-radius:3px;
    background-clip:padding-box;
    color:#333;
    background-color:#eee;
    line-height:1rem;
}

.todo   { font-family: monospace; color: red; }
.done   { font-family: monospace; color: green; }
.priority { font-family: monospace; color: orange; }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.org-center { margin-left: auto; margin-right: auto; text-align: center; }
.underline { text-decoration: underline; }
#postamble p, #preamble p { font-size: 90%; margin: .2em; }
p.verse { margin-left: 3%; }
