use_nix shell.nix

watch_file ./shell.nix
watch_file ./default.nix
watch_file ./nix/sources.json
watch_file ./nix/default.nix

test -f .secrets && source .secrets || echo "no secrets"
export QEMU_OPTS="-m 8096 -cpu host"
export PATH="${PWD}/bin:${PATH}"
export REPO_ROOT="${PWD}"
