*      annex.largefiles=largerthan=200kb
*.org  annex.largefiles=nothing
*.yaml annex.largefiles=nothing
*.html annex.largefiles=nothing
*.js   annex.largefiles=nothing
*.css  annex.largefiles=nothing
*.log  annex.largefiles=nothing
*.nix  annex.largefiles=nothing
*.el   annex.largefiles=nothing
*.go   annex.largefiles=nothing
*.sh   annex.largefiles=nothing
