/*                KEY POSITIONS

  ╭──────────────────────────────╮              ╭─────╮      ╭──────────────────────────────╮
  │ LT5  LT4  LT3  LT2  LT1  LT0 │          ╭───╯ JS0 ╰───╮  │ RT0  RT1  RT2  RT3  RT4  RT5 │
  │ LM5  LM4  LM3  LM2  LM1  LM0 │ ╭─────╮  │ JS1 JS2 JS3 │  │ RM0  RM1  RM2  RM3  RM4  RM5 │
  │ LB5  LB4  LB3  LB2  LB1  LB0 │ │ LEC │  ╰───╮ JS4 ╭───╯  │ RB0  RB1  RB2  RB3  RB4  RB5 │
  ╰──────────────╮ LH2  LH1  LH0 │ ╰─────╯      ╰─────╯      │ RH0  RH1  RH2 ╭──────────────╯
                 ╰───────────────╯                           ╰───────────────╯
 */

#undef COMBO_TERM
#define COMBO_TERM 40

// All Layers
ZMK_COMBO(esc, &kp ESC, RM3 RM4)

// (Bépo,Qwerty) -> Ergo-L - Mid thumbs, active on Bépo and Qwerty
ZMK_COMBO(to_ergol, &to ERG, LH1 RH1, BEP QWE)

// (Ergo-L/Qwerty) -> Bépo - Inner thumbs, active on Ergo-L and Qwerty
ZMK_COMBO(to_bepo, &to BEP, LH0 RH0, ERG QWE)
  
// (Bépo/Ergo-L) -> Qwerty - Outer thumbs, active on Bépo and Ergo-L
ZMK_COMBO(to_qwerty, &to QWE, LH2 RH2, BEP ERG)

// Switch mouse layer
ZMK_COMBO(toggle_mouse, &tog MOU, LT1 LT4, BEP ERG QWE MOU)

// underscore
ZMK_COMBO(underscore, &kp UNDER, LB1 RB1, BEP ERG QWE)

ZMK_COMBO(minus, &kp KP_MINUS, LT1 RT1, BEP ERG QWE)

ZMK_COMBO(capsword, &caps_word, LB4 RB4, BEP ERG QWE)
  
/*
Local Variables:
mode: c
End:
*/
