// Home Row Mods
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left-hand keys
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right-hand keys
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2 // thumb keys

/* Timerless Home Row Mods */
/* https://github.com/urob/zmk-config#timeless-homerow-mods */

/* left-hand HRMs */
ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

/* right-hand HRMs */
ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// homerow mods for î (QWERTY)
/* ZMK_HOLD_TAP(hrmiq,
 *     flavor = "balanced";
 *     tapping-term-ms = <hrm_tap_term>;
 *     quick-tap-ms = <hrm_quick_tap>;
 *     global-quick-tap;
 *     bindings = <&kp>, <&I_CI_Q>;
 * ) */

// homerow mods for è (QWERTY)
/* ZMK_HOLD_TAP(hrme,
 *     flavor = "balanced";
 *     tapping-term-ms = <hrm_tap_term>;
 *     quick-tap-ms = <hrm_quick_tap>;
 *     global-quick-tap;
 *     bindings = <&kp>, <&E_GR_Q>;
 * ) */

// homerow mods for ê (Ergo-L)
/* ZMK_HOLD_TAP(hrmec,
 *     flavor = "balanced";
 *     tapping-term-ms = <hrm_tap_term>;
 *     quick-tap-ms = <hrm_quick_tap>;
 *     global-quick-tap;
 *     bindings = <&kp>, <&E_CI_E>;
 * ) */
/*
Local Variables:
mode: c
End:
*/
