name: systems

permissions:
  contents: read

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - 'home/**'
      - 'systems/**'
      - 'lib/**'
      - 'modules/**'
      - 'tools/battery-monitor/**'
      - 'tools/bekind/**'
      - 'tools/go-org-readwise/**'
      - 'tools/k8s.infra/**'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/build-systems.yaml'
  push:
    branches:
      - main
    paths:
      - 'home/**'
      - 'systems/**'
      - 'lib/**'
      - 'modules/**'
      - 'tools/battery-monitor/**'
      - 'tools/bekind/**'
      - 'tools/go-org-readwise/**'
      - 'tools/k8s.infra/**'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/build-systems.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-systems
  cancel-in-progress: true

jobs:
  nix-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - id: set-matrix
        name: Generate Nix Matrix
        run: |
          set -Eeu
          set -o pipefail
          echo "matrix={\"include\": $(nix eval .#githubActionsMatrix --raw)}" >> "$GITHUB_OUTPUT"
          cat $GITHUB_OUTPUT

  nix-build:
    needs: nix-matrix
    runs-on: ${{ matrix.arch == 'aarch64-linux' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix: ${{fromJSON(needs.nix-matrix.outputs.matrix)}}
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@90e01b21170618765a73370fcc3abbd1684a7793 # v5
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'false'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: vdemeester
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: ${{ github.event_name == 'pull_request' }}
      - name: build
        run: |
          # FIXME temporary hack to make system build successfully
          #       I need to create dumb file for mkOutOfStoreSymlink
          sudo mkdir -p /home/vincent/src/home/tools/emacs /home/vincent/desktop/documents
          sudo touch /home/vincent/desktop/documents/.oath
          # build the system
          nix build --accept-flake-config -L ".#nixosConfigurations.${{ matrix.name }}.config.system.build.toplevel"
