#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Meet
Exec=google-chrome-stable --profile-directory=Default --app-id=kjgfgldnnfoeklkmfkjfagphfepbbdan
Icon=chrome-kjgfgldnnfoeklkmfkjfagphfepbbdan-Default
StartupWMClass=crx_kjgfgldnnfoeklkmfkjfagphfepbbdan
